.img-list{
    border: 1px solid #ddd;
    margin: 20px 10px;
    padding: 0 15px;
}
.img-list img{
    height: 300px;
    border-radius: 5px;
    margin-top: 7px;
    border: 3px solid #555;
}

h4{
    margin-left: 10px;
}