.img-list{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 10px;
}
.img-list img{
    width: 23%;
    height: 300px;
    margin-right: 1%;
    border-radius: 10px;
    margin-top: 20px;
    margin: 20px 1% 10px 1%;
}

h4{
    margin-left: 10px;
}